#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
    time-to-max-speed-ms = <150>;
    acceleration-exponent = <2>;
};

/ {
    macros {
        m_altF4: m0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(F4)>;
            label = "M0";
        };

        m_screenshot: m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(S))>;
            label = "M2";
        };

        m_gradus: m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_6>,
                <&macro_wait_time 20>,
                <&macro_release>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_6>,
                <&macro_wait_time 20>;

            label = "M3";
        };

        m_markdown: m4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_wait_time 20>,
                <&kp LS(ENTER) &kp LS(ENTER)>,
                <&macro_wait_time 20>,
                <&kp GRAVE &kp GRAVE &kp GRAVE>,
                <&macro_wait_time 20>,
                <&kp UP>;

            label = "M4";
        };

        m_defis: m_defis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_1>,
                <&macro_wait_time 20>,
                <&macro_release>,
                <&kp LEFT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_5 &kp KP_NUMBER_1>,
                <&macro_wait_time 20>;

            label = "M_DEFIS";
        };

        m_dog: m_dog {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LG(SPACE)>,
                <&macro_wait_time 20>,
                <&kp LS(NUMBER_2)>,
                <&macro_wait_time 20>,
                <&kp LG(SPACE)>,
                <&macro_wait_time 20>;

            label = "M_DOG";
        };

        m_hashtag: m_hashteg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LG(SPACE)>,
                <&macro_wait_time 20>,
                <&kp LS(NUMBER_3)>,
                <&macro_wait_time 20>,
                <&kp LG(SPACE)>,
                <&macro_wait_time 20>;

            label = "M_HASHTEG";
        };
    };

    behaviors {
        td_defis: td_defis {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_DEFIS";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&m_defis>;
        };

        LTD: LTD {
            compatible = "zmk,behavior-hold-tap";
            label = "LTD";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        layer4tog {
            bindings = <&tog 4>;
            key-positions = <39 24>;
            layers = <0 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC         &kp Q  &kp W  &kp E  &kp R     &kp T                              &kp Y  &kp U    &kp I      &kp O    &kp P     &kp RIGHT_GUI
&kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F     &kp G                              &kp H  &kp J    &kp K      &kp L    &kp SEMI  &kp LEFT_SHIFT
&kp LCTRL       &kp Z  &kp X  &kp C  &kp V     &kp B     &kp C_MUTE    &mkp MCLK  &kp N  &kp M    &kp COMMA  &kp DOT  &kp SQT   &kp LEFT_ALT
                                     &kp BSPC  &LTD 1 4  &kp SPACE     &kp ENTER  &mo 2  &kp TAB
            >;

            display-name = "Base";
            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        nav {
            bindings = <
&m_altF4  &kp N1  &kp N2  &kp N3  &kp N4      &kp N5                        &kp N6        &kp N7    &kp N8          &kp N9           &kp N0  &kp PRINTSCREEN
&trans    &trans  &trans  &m_dog  &kp RU_DOT  &m_hashtag                    &trans        &trans    &kp UP          &trans           &trans  &kp PAGE_UP
&trans    &trans  &trans  &trans  &trans      &kp DEL     &trans    &trans  &kp CAPSLOCK  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &kp PG_DN
                                  &trans      &trans      &trans    &trans  &mo 3         &trans
            >;

            display-name = "Nav";
        };

        sym {
            bindings = <
&trans  &trans  &trans    &kp LS(N6)             &m_gradus  &kp GRAVE                       &m_markdown  &kp UNDER  &kp SQT    &kp LBKT  &kp RBKT  &trans
&trans  &trans  &kp LPAR  &kp RIGHT_PARENTHESIS  &td_defis  &kp EQUAL                       &kp PRCNT    &kp LBRC   &kp SEMI   &kp RBRC  &kp EXCL  &trans
&trans  &trans  &trans    &kp NON_US_BACKSLASH   &kp ASTRK  &kp RU_SLASH  &trans    &trans  &trans       &kp PIPE   &kp TILDE  &kp AMPS  &kp DLLR  &trans
                                                 &trans     &LTD 3 4      &trans    &trans  &trans       &trans
            >;

            display-name = "Symbols";
        };

        adj {
            bindings = <
&bootloader  &trans  &kp F1  &kp F2   &kp F3   &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3  &bt BT_SEL 4  &m_screenshot
&trans       &trans  &kp F5  &kp F6   &kp F7   &kp F8                     &out OUT_BLE  &kp C_VOL_DN  &kp C_MUTE        &kp C_VOL_UP  &trans        &bt BT_CLR
&trans       &trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &out OUT_USB  &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT    &trans        &trans
                                      &trans   &trans   &trans    &trans  &trans        &trans
            >;

            display-name = "Adjust";
        };

        Mouse {
            bindings = <
&trans  &trans  &trans          &trans          &trans           &trans                       &trans     &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans          &msc SCRL_UP    &trans           &trans                       &trans     &trans          &mmv MOVE_UP    &trans           &trans  &kp LEFT_SHIFT
&trans  &trans  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &trans    &trans     &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &kp LCTRL
                                                &trans           &tog 4  &trans    &mkp LCLK  &mkp MCLK  &mkp RCLK
            >;
        };
    };
};
